.contDiv{
    background-color:white;
    text-align: center;
    color: #1a1d24;;
    font-family: 'Jaden Regular';
    text-shadow: 1px 1px rgb(41, 41, 41);
    size: 1000px
    
}

.ayche{
    border: none;
    height: 8px;
    width: 100px;
    /* Set the hr color */
    color: #1a1d24;; /* old IE */
    background-color: #1a1d24;; /* Modern Browsers */
}

@font-face {
    font-family: 'Jaden Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Jaden.ttf)
    }