.contDiv2{
    background-color:#1a1d24;
    text-align: center;
    color: white;
    font-family: 'Jaden Regular';
    text-shadow: 1px 1px rgb(41, 41, 41);
    size: 1000px
    
}

.ayche2{
    border: none;
    height: 8px;
    width: 100px;
    /* Set the hr color */
    color: white;; /* old IE */
    background-color: white;; /* Modern Browsers */
}

@font-face {
    font-family: 'Jaden Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Jaden.ttf)
    }